body {
  padding: 0;
  margin: 0;
}
.alert {
  background-color: rgba(0, 0, 0, 0.712);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-box {
  min-width: 24rem;
  max-width: 40rem;
  min-height: 8rem;
  max-height: 20rem;
  overflow: hidden;
  background-color: #474e68;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}
.alert-text {
  font-family: "outfit";
  color: #f1f1f1;
  font-size: 2rem;
  letter-spacing: 1.2px;
  /* border: 1px solid red; */
  max-width: 90%;
  max-height: 10rem;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.alert-button {
  border: none;
  outline: none;
  min-width: 3rem;
  min-height: 2rem;
  border-radius: 0.2rem;
  background-color: #6a73a1;
  font-weight: 600;
  color: #f1f1f1;
  cursor: pointer;
}
.alert-button:hover {
  filter: brightness(120%);
}
